html{
	cursor: url(cursor.png), auto;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 1em;
}
#thediv{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: #fff5cc;
	background: radial-gradient(farthest-corner at 60% 55%, rgb(255,255,204), rgb(255, 204, 204));
}
#thedivvideo{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: #fff5cc;
	background: radial-gradient(farthest-corner at 60% 55%, rgb(255,255,204), rgb(255, 204, 204));
}
#thediv2{
	position:fixed;
	left: 0.5em;
	bottom: 0.5em;
	right:0.5em;
	padding: 5px;
	border: 1px solid #BAA38C;
}
#thediv3{
	position:fixed;
	left: 0.5em;
	bottom: 0.5em;
	right:0.5em;
	padding: 5px;
	border: 1px solid #BAA38C;
}
#thediv1{
	position:fixed;
	top: 20%;
	left: 28%;
}
#paydaydiv1{
	position:fixed;
	top: 2.5em;
	left: 28%;
}
#atleastaneightdiv1{
	position:fixed;
	top: 2.5em;
	left: 60%;
}
#portfoliodiv{
	position:fixed;
	bottom: 0.5em;
	right:0.5em;
	padding: 5px;
	border: 1px solid #BAA38C;
}
a{
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid grey;
}
a:hover{
	cursor: url(cursor.png), auto;
	border-bottom: 5px solid #c6b29f;
}