html{
	cursor: url(cursor.png), auto;
}
body{
	font-family: monospace;
}
#thediv{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: #fff5cc;
}
#thedivvideo{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: #fff5cc;
}
#thediv1{
	position:fixed;
	top: 5em;
	left:5em;
}
#thediv2{
	background-color: #ff4d4d;
	position:fixed;
	top:5em;
	left:15em;
}
#thediv3{
	background-color: #ff4d4d;
	position:fixed;
	top:5em;
	left:25em;
}
#paydaydiv1{
	position:fixed;
	top: 7.5em;
	left:5em;
}
#unddanndiv1{
	position:fixed;
	top: 7.5em;
	left:5em;
}
#portfoliodiv{
	position:fixed;
	top: 10em;
	left:10em;
}
a:hover{
	cursor: url(cursor.png), auto;
	text-decoration:line-through;
}
#message{
	margin-left: 1em;
}
.alert {
	position:fixed;
	width:97%;
	right:0;
	bottom:0;
    padding: 20px;
    background-color: #e6b800;
    color: white;
}
.closebtn {
	border: 1px solid white;
	padding: 5px;
    color: white;
    /*font-weight: bold;*/
    font-size: 1.5em;
    display: inline-block;
    margin-right: 1.9%;
    float: right;
}
.closebtn:hover {
    color: #1f004d;
    border: 1px solid #1f004d;
}